* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.firebaseui-idp-list {
  list-style: none;
}

.firebaseui-idp-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: space-between;
}

.firebaseui-idp-text-short {
  display: none;
}
